<div class="footer">
  <div class="footer-items">
    <div class="first">
      <h4>Our Team</h4>
      <p> Analytical Skills</p>
      <p> Problem-solving skills</p>
      <p> Critical-thinking skills</p>
      <p> Detail-oriented</p>
    </div>

    <div class="second">
      <h4> Navigate</h4>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <div class="third">
      <h4> Contact</h4>
      <ul>
        <li>Josh M. </li>
        <li>Yulia D. </li>

        <li><i class="far fa-envelope"></i> josh@josh.com</li>
        <li><i class="far fa-envelope"></i> email@yahoo.com</li>

        <li><i class="fas fa-map-marker-alt"></i> Amsterdam, NL </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="second2">
      <a href="https://codepen.io/joshmtm" target="_blank">
        <i class="fab fa-codepen fa-2x margin"></i></a>
      <a href="https://github.com/JoshMTM" target="_blank">
        <i class="fab fa-github fa-2x margin"></i></a>
      <a href="https://www.linkedin.com/in/joshua-mitima/" target="_blank">
        <i class="fab fa-linkedin fa-2x margin"></i></a>
      <a href="https://www.youtube.com" target="_blank"><i
          class="fab fa-youtube fa-2x margin"
        ></i></a>

    </div>
  </div>
</div>