<div class="row">
	<div class="col-4 text-center">
		<h4>Our Team</h4>
		<ul>
			<li><a href="#">Analytical Skills</a></li>
			<li><a href="#">Problem-solving skills</a></li>
			<li><a href="#">Critical-thinking skills</a></li>
		</ul>
	</div>
	<div class="col-4 text-center">
		<h4> Navigate</h4>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/products">Projects</a></li>
			<li><a href="/pages/about-us">About</a></li>
			<li><a href="/contactus">Contact</a></li>
		</ul>
	</div>
	<div class="col-4 text-center">
		<h4> Contact</h4>
		<ul>
			<li>Josh M. </li>
			<li>Yulia D. </li>
			<li><i class="far fa-envelope"></i> josh@josh.com</li>
			<li><i class="far fa-envelope"></i> email@yahoo.com</li>
			<li><i class="fas fa-map-marker-alt"></i> Amsterdam, NL </li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-12 text-center">
		<p>
			<a href="https://codepen.io/joshmtm" target="_blank">
				<i class="fab fa-codepen fa-2x margin"></i></a>
			<a href="https://github.com/JoshMTM" target="_blank">
				<i class="fab fa-github fa-2x margin"></i></a>
			<a
				href="https://www.linkedin.com/in/joshua-mitima/"
				target="_blank"
			>
				<i class="fab fa-linkedin fa-2x margin"></i></a>
			<a href="https://www.youtube.com" target="_blank"><i
					class="fab fa-youtube fa-2x margin"
				></i></a>
		</p>
	</div>
</div>