<h5>About us</h5>
<img
	id="stark"
	src="https://www.google.com/search?q=house+stark&tbm=isch&ved=2ahUKEwihto_P_a70AhXOgM4BHc6wA8kQ2-cCegQIABAA&oq=house+stark&gs_lcp=CgNpbWcQAzIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQ6BwgjEO8DECc6BggAEAcQHjoECAAQHjoGCAAQBRAeOgYIABAIEB5QkgtY0VRg1FVoAHAAeACAAU-IAdQCkgEBNZgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=EiGdYaHlG86Bur4PzuGOyAw&bih=834&biw=1680#imgrc=KOGFvlry9VMD_M"
	alt=""
/>
<div>
	<h3>Our mission</h3>
	<p>We help you build your home and make it perfect</p>
</div>

<h3>Our Great Team</h3>
<div class="stark-family">
	<img
		src="https://www.google.com/search?q=stark+game+of+thrones&tbm=isch&ved=2ahUKEwjbqfaZ_670AhUB-hoKHRItCTwQ2-cCegQIABAA&oq=stark+game&gs_lcp=CgNpbWcQARgAMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDoHCCMQ7wMQJzoECAAQQ1DYB1iXEGDrHWgAcAB4AIABd4gB7QOSAQM1LjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=uyKdYZvgLoH0a5LapOAD&bih=834&biw=1680#imgrc=OSuXVT567vJ_9M"
		alt=""
	/>
	<img
		src="https://www.google.com/search?q=stark+game+of+thrones&tbm=isch&ved=2ahUKEwjbqfaZ_670AhUB-hoKHRItCTwQ2-cCegQIABAA&oq=stark+game&gs_lcp=CgNpbWcQARgAMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDoHCCMQ7wMQJzoECAAQQ1DYB1iXEGDrHWgAcAB4AIABd4gB7QOSAQM1LjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=uyKdYZvgLoH0a5LapOAD&bih=834&biw=1680#imgrc=nUfSk7_s6B4ZJM"
		alt=""
	/>
	<img
		src="https://www.google.com/search?q=stark+game+of+thrones&tbm=isch&ved=2ahUKEwjbqfaZ_670AhUB-hoKHRItCTwQ2-cCegQIABAA&oq=stark+game&gs_lcp=CgNpbWcQARgAMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDoHCCMQ7wMQJzoECAAQQ1DYB1iXEGDrHWgAcAB4AIABd4gB7QOSAQM1LjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=uyKdYZvgLoH0a5LapOAD&bih=834&biw=1680#imgrc=yP9Qy8phO_porM"
		alt=""
	/>
	<img
		src="https://www.google.com/search?q=stark+game+of+thrones&tbm=isch&ved=2ahUKEwjbqfaZ_670AhUB-hoKHRItCTwQ2-cCegQIABAA&oq=stark+game&gs_lcp=CgNpbWcQARgAMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDoHCCMQ7wMQJzoECAAQQ1DYB1iXEGDrHWgAcAB4AIABd4gB7QOSAQM1LjGYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=uyKdYZvgLoH0a5LapOAD&bih=834&biw=1680#imgrc=VraQJF78EAiJZM"
		alt=""
	/>
</div>

<div>
	<h2>Our Rating</h2>
	<span class="fa fa-star checked"></span>
	<span class="fa fa-star checked"></span>
	<span class="fa fa-star checked"></span>
	<span class="fa fa-star checked"></span>
	<span class="fa fa-star"></span>
</div>
