<div class="HomePage">
<div class="homepageTitle">
<h2>Get the best quality home services near you</h2>

<h2>Market yourself and make an impact</h2>
</div>

<div class="welcomePage">
  <div>
<p>
  "Never seen someone do such a spectacular job in a short time; My electrician "Johnny was the best, curtous, polite and went above and beyond the call of duty. Amazing"</p>
  <h5><b>Julia Musquet</b></h5>
  </div>
  <div>
<img src="/images/image.png" alt="homepage image" />
  </div>

</div>
</div>
<container class="sampleServices">
  {{#each services }}
  <div>
  <img src="{{this.serviceImage}}"/>
  <br></br>
  <p>{{this.name}}
  <button><a href="services/{{this._id}}">View details</a></button></p>
  </div>
  {{/each}}
</container>

{{> footer}}