<html lang='en'>

	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<meta http-equiv='X-UA-Compatible' content='ie=edge' />
		<title>{{title}}</title>
		<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' />
		<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css' />
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>

	<body>
		<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
			<div class='collapse navbar-collapse' id='navbarSupportedContent'>
				<ul class='navbar-nav mr-auto'>
					<li class='nav-item active'><a class='nav-link' href='/'>Home</a></li>
					<li class='nav-item active'><a class='nav-link' href='/celebrities'>Some Link</a></li>
					<li class='nav-item active'><a class='nav-link' href='/movies'>Some other link</a></li>
				</ul>
			</div>
		</nav>

		<div class='container'>
			{{{body}}}
		</div>

		<script src='/javascripts/script.js'></script>
	</body>

</html>