<form method="POST" action="/profile">
  <label>Email</label>
  <input type="email" name="email" placeholder="Enter your username" />

  <label>Password</label>
  <input type="password" name="password" placeholder="Enter your Password" />
  <button>Sign In</button>
</form>

{{#if error}}
  <p>Error message: {{error}}</p>
{{/if}}