body {
	padding: 20px;
	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
	background-image: url(../images/imgbg.jpeg);
	margin: 0 auto;
	width: 90%;
	padding-top: 30px;
	min-height: 200px;
}

nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	background: linear-gradient(
		rgba(87, 87, 87, 0.966),
		rgba(121, 150, 134, 0.699),
		rgba(105, 94, 90, 0.7)
	);
	margin-bottom: 10px;
	border-radius: 5px;
	height: 16%;
}
nav > ul > li > a {
	font-size: 18px;
	text-decoration: none;
	color: rgb(255, 255, 253);
}
nav > a > img {
	width: 150px;
	float: left;
	position: relative;
	margin-right: 5px;
}

.navHeader {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}
.navHeader > div > ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	color: #43a3e6;
	font-size: 1.5em;
}
.navHeader > div > ul > li > a {
	color: white;
	text-decoration: none;
}
.formHeader {
	margin: 0 auto !important;
	width: 400px !important;
}
.btn-success {
	width: 90px !important;
	margin: 5px;
}

h1 {
	text-align: center;
	margin: 70px;
}

h2 {
	text-align: center;
	margin: 50px;
}
h4 {
	text-align: center;
	padding: 5px;
}

td,
tr {
	font-size: 1.3rem;
}

form:not(.formHeader) {
	margin: 30px auto;
	width: 380px;
}

label:not(.formHeader) {
	font-size: large;
}

form label {
	color: #666;
	display: inline-block;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
}

form input,
form button:not(.formHeader) {
	box-sizing: border-box;
	font-size: 14px;
	outline: 0;
	padding: 4px;
	width: 100%;
	margin-bottom: 20px;
}

form button:not(.formHeader) {
	background: #43a3e6;
	border: 1px solid #43a3e6;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	padding: 8px 16px;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.3s ease background;
	width: 100%;
}

form button:hover {
	background: #fff;
	color: #43a3e6;
	transition: 0.3s ease background;
}

.error {
	background: #f02b63;
	box-sizing: border-box;
	color: #fff;
	margin: 20px auto;
	padding: 20px;
	width: 100%;
}

ul {
	height: 30px;
	padding: 1em;
	list-style-type: none;
}

ul li {
	line-height: 20px;
}

#form h2 {
	display: flex;
	justify-content: center;
}

/* Home Page */
.HomePage {
	padding: 5px 20px 20px 20px;
	border-radius: 5px;
	color: white;
}

.welcomePage {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.welcomePage > div {
	text-align: center;
}
.welcomePage > div > img {
	width: 500px;
	border-radius: 10px;
}
.welcomePage > div > p {
	width: 350px;
	border-radius: 10px;
}
.homepageTitle {
	text-align: center;
}

/* User profile */

.userProfile {
	background-color: rgba(167, 176, 255, 0.466);
	padding: 30px;
}
.body-profile {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.body-profile > div > img {
	border-radius: 30px;
}
.body-profile > div > h4 {
	width: 80%;
}
.body-profile > div > h3 {
	text-align: center;
}

.profile-btn a {
	text-decoration: none;
	color: white;
}

.profile-Img {
	width: 200px;
}

/* Footer bootstrap code lines */

.footer {
	background: linear-gradient(
		rgba(8, 8, 8, 0.966),
		rgba(121, 150, 134, 0.699),
		rgba(105, 94, 90, 0.7)
	);
	background-size: cover;
	margin-top: 2em;
	border-radius: 5px;
}

.first {
	margin-top: 10px;
	color: rgb(206, 206, 206);
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

.first h4 {
	font-size: 20px;
	letter-spacing: 3px;
	color: #fff;
}

.first p {
	font-size: 14px;
}

.second {
	margin-top: 10px;
	color: rgb(206, 206, 206);
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

.second2 {
	color: rgb(206, 206, 206);
	font-family: 'Poppins', sans-serif;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
	border-top: 5px solid rgba(197, 202, 191, 0.623);
}

.second h4 {
	font-size: 20px;
	letter-spacing: 3px;
	color: #fff;
}
.first li,
.third li,
.second li {
	list-style: none;
	padding-bottom: 5px;
}

.second a,
.second2 a {
	color: rgb(206, 206, 206);
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	transition: 0.2s;
}

.second a:hover,
.second2 a:hover {
	color: #fff;
	transition: 0.2s;
	text-shadow: 1px 1px 20px rgba(0, 0, 0, 1);
	text-decoration: none;
}

.third {
	color: rgb(206, 206, 206);
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

.third h4 {
	font-size: 20px;
	letter-spacing: 3px;
	color: #fff;
}
.first a,
.third a {
	color: rgb(206, 206, 206);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 1000px) {
	.first {
		text-align: center;
	}
	.second {
		text-align: center;
	}
	.third {
		text-align: center;
	}
}

.footer-items {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.footer-items > div {
	margin-bottom: 55px;
}

.footer-items h1 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
/* End of footer code */
#image-of-service {
	width: 100%;
	height: auto;
}

.field {
	padding: 1rem 2rem;
	background-color: #f4f4f4;
	border-radius: 4px;
	margin: 0.5rem 0 2rem 0;
}

.table td {
	padding: 1.5rem 0.75rem;
}

.detailsPage {
	background-color: rgb(199, 197, 197);
	border-radius: 10px;
	padding: 10px;
}
.detailsPage > h1 {
	margin-top: 10px;
	margin-bottom: 30px;
}
.btn-success {
	width: 100px;
}
.inputsearch {
	width: 150px;
	margin-left: -5px;
	height: 34px;
	border-radius: 5px;
}
container > div > img {
	width: 200px;
	height: 180px;
	border-radius: 10px;
}
container > div > p {
	color: white;
}
container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
container > div {
	margin: 10px;
	align-content: center;
}

container > div > p {
	color: black;
}
container > div > p > button {
	background-color: rgba(255, 255, 255, 0);
	border-radius: 5px;
}

container > div > p > a {
	text-decoration: none;
}
/*class for the rating stars*/
.checked {
	color: orange;
}
/*class for the 'About us' Page */
.stark-family {
	display: flex;
	justify-content: row;
}
.col > img {
	width: 450px;
	border-radius: 10px;
}

/*Creating the styles for the rating*/

.rating {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
}

.rating > input {
	display: none;
}

.rating > label {
	position: relative;
	width: 1em;
	font-size: 6vw;
	color: #ffd600;
	cursor: pointer;
}

.rating > label::before {
	content: '\2605';
	position: absolute;
	opacity: 0;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before {
	opacity: 1 !important;
}

.rating > input:checked ~ label:before {
	opacity: 1;
}

.rating:hover > input:checked ~ label:before {
	opacity: 0.4;
}

.rating label {
	font-size: 30px;
}

/*Home Page styles*/
#description {
	color: rgb(12, 12, 59);
	text-align: justify;
}
.navHeader form {
	width: 800px;
}
/*Adding some styles to the user profile*/
.body-profile img {
	width: 250px;
	height: 250px;
}
/*Changing some info on the suer profile*/
.userProfile h1,
h2,
h3,
h4,
h5 {
	text-align: center;
	margin: 50px;
}
