<h3 class="stark">Our mission - We help you build your home and make it perfect</h3>
<br />
<br />
<h3 class="stark">Our Team</h3>

<div class="stark-family">
	<img
		src="https://upload.wikimedia.org/wikipedia/en/c/ce/Robb_Stark-Richard_Madden.jpg"
		alt="Robert Stark"
	/>
	<img
		src="https://photo.cosplayfu.com/character/mini/18282_282507.jpg"
		alt=""
	/>
	<img
		src="https://i.pinimg.com/originals/45/52/e9/4552e9e11bd6ba414d3aaa73f02e923e.jpg"
		alt=""
	/>
</div>
<hr />
<div class="stark">
	<h2 class="stark">Our Rating</h2>
	<span class="fa fa-star checked"></span>
	<span class="fa fa-star checked"></span>
	<span class="fa fa-star checked"></span>
	<span class="fa fa-star checked"></span>
	<span class="fa fa-star checked"></span>
</div>