<h2>Add a new service</h2>

<form method='post' action='/api/services'>
	<div class='form-group'>
		<label for='name'>Name:</label>
		<input name='name' type='text' class='form-control' id='name' />
	</div>
	<div class='form-group'>
		<label>Description</label>

		<textarea rows='5' cols='60' name='description'>
			"Tell us more about the service"
		</textarea>
		<br />
		<br />
	</div>
	<div class='form-group'>
		<label for='address'>Address:</label>
		<input name='address' type='text' class='form-control' id='address' />
	</div>
	<div class='form-group'>
		<label for='time'>Time:</label>
		<input name='time' type='text' class='form-control' id='time' />
	</div>
	<div class='form-group'>
		<label for='price'>Price/Hour:</label>
		<input name='price' type='text' class='form-control' id='price' />
	</div>
	<div class='form-group'>
		<label for='photo'>Photos:</label>
		<input type='url' id='photo' name='photo' />
	</div>
	<button type='submit' class='btn btn-primary'>Submit</button>
</form>