<h2>Add a new service</h2>

<form method="post" action="/api/services">
	<div class="form-group">
		<label for="name">Name:</label>
		<input name="name" type="text" class="form-control" id="name" />
	</div>
	<div class="form-group">
		<label for="category">Select a service category:</label>

		<select name="category" id="category">
			<option value="lessons">Lessons</option>
			<option value="cleaning">Cleaning</option>
			<option value="construction">Construction</option>
			<option value="electronics">Electronics</option>
			<option value="plumbing">Plumbing</option>
			<option value="electrical">Electrical</option>
			<option value="moving">moving</option>
			<option value="painting">Painting</option>
			<option value="massage">Body Massage</option>
			<option value="mechanical">Mechanical</option>

		</select>
	</div>
	<div class="form-group">
		<label>Description</label>

		<textarea rows="5" cols="45" name="description">

		</textarea>
		<br />
		<br />
	</div>
	<div class="form-group">
		<label for="address">Address:</label>
		<input name="address" type="text" class="form-control" id="address" />
	</div>
	<div class="form-group">
		<label for="time">Time:</label>
		<input name="time" type="text" class="form-control" id="time" />
	</div>
	<div class="form-group">
		<label for="price">Price/Hour:</label>
		<input name="price" type="text" class="form-control" id="price" />
	</div>
	<div class="form-group">
		<label for="serviceImage">Service Image:</label>
		<input type="file" id="serviceImage" name="serviceImage" />
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>